@{
    ViewBag.Title = "Home";
}
    <div class="demo-header-image" style="min-height: 600px;">
        <div class="motto">
            <h1 class="title-uppercase">Biblioteca Virtual</h1>
            <h3>Encontre os melhores títulos cadastrados aqui.</h3>
        </div>
    </div>